.count-modal {
  font-size: 26px;
  font-weight: 500;
  color: #333333;
  opacity: 0.82;
  margin-left: 8px;
}

.high-score-modal {
  font-size: 20px;
  font-weight: 500;
  opacity: 0.72;
  color: #333333;
  margin-left: 8px;
}

.text-content {
  display: flex;
  align-items: center;
}
