<div class="main-container">
  <div class="count-reset">
    <div class="count" *ngIf="noOfCells">
      <div class="key">
        Score:
      </div>
      <div class="value">
        {{overallCount}}
      </div>
    </div>
    <div class="reset" *ngIf="noOfCells">
      <button mat-raised-button (click)="resetGame()">Reset Game</button>
    </div>
  </div>
  <div class="choose-container" *ngIf="showChoose">
    <div class="choose" *ngIf="!noOfCells">
      Choose a Board to start the game.
    </div>
    <div class="choose-list">
      <div class="each-choose"
           (click)="noOfCellsHandler(eachType.grids)"
           *ngFor="let eachType of allTypes">
        <div class="level">
          <div class="key">
            Game Level:
          </div>
          <div class="value">
            {{eachType.level}}
          </div>
        </div>
        <div class="grids">
          <div class="key">
            Grid Layout:
          </div>
          <div class="value">
            {{eachType.grids}} x {{eachType.grids}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-all-cells
    *ngIf="noOfCells"
    (resetEmitter)="resetApp()"
    [resetGameHandler]="resetGameValue"
    (resetGameHandlerValue)="resetGameValue = $event"
    (overallCountEmitter)="overallCount = $event"
    [noOfCells]="noOfCells"></app-all-cells>
</div>
