.outer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  .each-cell {
    width: 100px;
    height: 100px;
    background: #f4f4f4;
    border: 1px solid #dddddd;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .active-cell {
    background: #4c9a2a;
    border-radius: 4px;
    border: 1px solid #4c9a2a;
    transform: rotateX(180deg);
  }
}

.width-3 {
  width: 306px;
  height: 306px;
}
.width-4 {
  width: 408px;
  height: 408px;
}
.width-5 {
  width: 510px;
  height: 510px;
}
